<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face-Word Stroop Test | File Saved</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="http://localhost:3000/css/main.css"> -->
</head>
<body>
    <header>
        <nav id="top-nav">
           <h1>Face-Word Stroop Test</h1>
        </nav>
        <section id="content-container">
            <section class="box">
                <h1 id="word">File is now saved</h1>
                <p id="instruction" class="active">Please contact the research assistant to proceed next step</p>
                <div id="currentImage">
                </div>
                <div id="circle"></div>
                <div id="push-button" class="button" onclick="NotifyPush()">Push</div>
            </section>            
        </section>
    </header>    
</body>
</html>